<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
    <br>
    <h1>Manager Infomation</h1>
    <br>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout"/>
    </form>
    <br>
    <form method="get" action="search">
        <input style="width: 300px ; height: 30px" placeholder="Search"
               type="text" name="keyword"/>
        <input type="submit" value="Search"/>
    </form>
    <p>
    <h1>
    <a style="color: darkred; text-decoration:  none" href="new">New Product</a>
    </h1>
    </p>
    <table border="1" cellpadding="5">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Email</th>
            <th>Name Product</th>
            <th>Time Buy </th>
            <th>Price</th>
            <th>Action</th>
        </tr>
        </thead>
              <tr th:each="u : ${product}">
                <td th:text="${u.id}"></td>
                <td th:text="${u.name}"></td>
                <td th:text="${u.address}"></td>
                <td th:text="${u.email}"></td>
                <td th:text="${u.nameproduct}"></td>
                <td th:text="${u.timebuy}"></td>
                <td th:text="${u.price}"></td>
                <td>
                    <a style="color: red ; text-decoration: none" th:href="@{'/edit/'+${u.id}}">Edit</a>
                    &nbsp;&nbsp;&nbsp;
                    <a style="color: red ; text-decoration: none" th:href="@{'/delete/'+${u.id}}">Delete</a>
                </td>
            </tr>
    </table>
</div>
</body>
</html>